body{font-family: 'Inter', sans-serif;}
a{text-decoration: none;}

h1,h2,h3,h4,h5,p{color:#fff;padding-bottom: 30px;}
.button{  
    color: #fef4e9;
    
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    border: none; 
    border-radius: 8px;   
    padding: 15px 32px;
    text-align: center;    
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.header{
   
    width: 100%;
    position: fixed;
    z-index: 2;
    top:0;
    left:0;
    padding: 30px;
    display: flex;
    /*background-color: 	#000;*/
    overflow: hidden;
}
img{
    width: 60px;
}  

.logo{
   
    width: auto;

}  

.menu{
    ;
    width: 100%;
} 
.menu li{display: inline-block;}
.menu li a{color:	#fff; padding:15px;display: block;}
.contact{


}
.cta{
}
.hero:after {
    content: ' ';
    width: 100%;
    height: 113%;
    display: block;
    position: absolute;
    top:0; left:0;
    background: black;
    opacity: 0.2;
}
.hero{
    position: relative;
    
    background-image: url('frattali.mp4');
    height: 100vh;
    display: flex;width: 100%;align-items: center;
    
}
.hero_content{
   
    max-width: 1350px;
    width: 100%;
    margin:0 auto;
    z-index: 1;
    position: relative;
}

.translate{
    margin-top:5px;
}

#frattali{
    position: absolute;
    top: 0%;
    left: 0%;
 
    min-width:100%;
    min-height: 100%;
    z-index: 0;
}


*,
*:before,
*:after{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
} 


